
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header {
    background-image: url('../images/capa.png');
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.menu-mobile {
    float: right;
    margin: 10px 2%;
    font-weight: 300;
    cursor: pointer;
    background-image: url('../images//menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
}

.menu {
    display: none;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.title-header {
    font-weight: 300;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.text-header {
    font-size: 12px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 20px 10px 0 10px;
    line-height: 1.5;
}

.center {
    margin: 0 auto;
}

.device {
    background-color: #810EAB;
    padding: 10px;
}

.title-device {
    text-align: center;
    font-size: 18px;
}

.content-device {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}

.list-device {
    display: block;
    width: fit-content;
}

.list-device li {
    list-style-type: none;
}

.list-device li::before {
    content: '* ';
}