
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-image: url('../images/capa.png');
    background-size: cover;
    background-position: center center;
    height: 90vh;
    min-height: 420px;
    padding: 2%;
    max-height: 500px;
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-mobile {
    float: right;
    display: block;
    position: sticky;
    margin: 10px 2%;
    font-weight: 300;
    cursor: pointer;
    background-image: url('../images/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    z-index: 100;
}

.menu {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.menu nav {
    width: 50%;
    z-index: 1;
    opacity: 0.8;
    max-width: 200px;
    height: 100vh;
    padding: 10px 0 0 10px;
    background-color: #ccc;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    line-height: 1.5;
}

.menu a:hover {
    font-weight: 900;
}

.clear {
    clear: both;
}

.title-header {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.text-header {
    font-size: 12px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 20px 10px 0 10px;
    line-height: 1.5;
}

.center {
    margin: 0 auto;
}

.device {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #810EAB;
}

.box-device {
    width: 400px;
    display: block;
    padding: 20px;
}

.title-device {
    text-align: center;
    font-size: 18px;
}

.content-device {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.list-device {
    display: block;
    width: fit-content;
}

.list-device li {
    list-style-type: none;
}

.list-device li::before {
    content: '* ';
}

.box-image {
    display: none;
    width: 450px;
    height: 350px;
}

.image {
    background-image: url('../images/device.png');
    background-size: cover;
    background-position: center center;
    width: 450px;
    height: 380px;
}

.contact {
    background-color: #B1E63C;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.contact:hover {
    background-color: #D1EAB1;
}

.section-2 {
    color: black;
    padding: 0 2%;
    text-align: center;
}

.title-sec2 {
    padding: 2% 0 0 0;
}

.content-sec2 {
    padding: 2% 0;
    max-width: 640px;
}

.img-sec2 {
    background-image: url('../images/mockup.jpg');
    background-size: 100% 100%;
    background-position: center center;
    height: 200px;
    width: 100%;
    max-width: 350px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.31);
}

.section-3 {
    color: black;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team {
    background-color: #845EA9;
    text-align: center;
}

.team h2 {
    color: white;
    font-weight: 400;
    font-style: italic;
    padding: 10px 0 0 0;
}

.team div {
    width: 100%;
    max-width: 350px;
}

.team p {
    color: white;
    font-weight: 300;
    line-height: 1.8;
    padding: 10px;
    width: 100%;
    max-width: 350px;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.box-author-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.author-name p:nth-of-type(1) {
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.author-name p:nth-of-type(2) {
    font-size: 14px;
    font-style: italic;
}

.box-author-img {
    padding: 5px;
}

.author-img {
    width: 65px;
    height: 65px;
    background-image: url('../images/profile.jpg');
    background-size: 100%;
    background-position: center center;
    border-radius: 50%;
}

.author-content div {
    width: 100%;
    max-width: 300px;
}

.author-content div p {
    text-align: center;
    line-height: 1.8;
}

.bullets {
    width: 100%;
    text-align: center;
}

.bullets span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.bullets span:nth-of-type(1) {
    background-color: #000000;
}

.section-4 {
    background-color: #462665;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section-4 > div {
    width: 100%;
    text-align: center;
}

.section-4 > div:nth-of-type(1) {
    padding-bottom: 10px;
}

.section-4 > div:nth-of-type(2) {
    border-top: 1px solid #ccc;
}

.section-4 > div:nth-of-type(2) > div {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.section-4 > div > p {
    text-align: center;
    max-width: 350px;
}

.section-4 > div > h2 {
    text-align: center;
    padding: 10px;
}

.section-4 iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 400px;
}

.box-form-user {
    width: 100%;
    max-width: 400px;
    padding: 5px;
}

.box-form-user > form > div:not(:nth-child(4)) {
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
    padding: 10px 5px;
    border: none;
    background-color: white;
}

.box-form-user > form > div > input {
    border: none;
    outline: none;
    width: 100%;
}

.box-form-user textarea {
    width: 100%;
    border: none;
    outline: none;
}

.box-form-user input[type='submit'] {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    background-color: #B1E63C;
}

.box-form-user input[type='submit']:hover {
    background-color: #D1EAB1;
}

footer {
    width: 100%;
    font-size: 12px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: 15px 0;
}

footer div:nth-of-type(2) {
    padding-top: 0;
}

@media screen and (min-width: 600px) {
    .title-header{
        font-size: 40px;
    }

    .text-header {
        font-size: 16px;
    }

    .img-sec2 {
        max-width: 450px;
        height: 300px;
    }

    .contact {
        font-size: 20px;
    }

    .box-sec2 {
        padding-top: 40px;
        margin-bottom: -40px;
    }

    .img-sec2 {
        position: relative;
        top: 80px;
    }

    .section-3 {
        flex-direction: row;
    }

    .team, .author {
        width: 50%;
        padding-top: 85px;
    }

    .author-name p:nth-of-type(1) {
        font-size: 22px;
    }

    .section-4 {
        flex-direction: row;
        align-items: baseline;
    }

    .section-4 > div:nth-of-type(2) {
        border-top: none;
    }

    .section-4 > div:nth-of-type(2) > div {
        height: 323px;
    }
}

@media screen and (min-width: 768px) {
    .title-header {
        font-size: 45px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        font-size: 16px;
        height: 80px;
    }

    footer div:nth-of-type(2) {
        padding-top: 15px;
    }
}

@media screen and (min-width: 992px) {
    .menu-mobile {
        display: none;
    }

    .menu {
        position: relative;
        display: block;
        width: 100%;
        max-width: 100vw;
        height: auto;
        text-align: right;
        background-color: transparent;
    }

    .menu nav {
        width: 100%;
        opacity: 1;
        max-width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
    }

    .menu li {
        display: inline-block;
        position: relative;
        margin: 0 15px;
    }

    .menu a {
        color: white;
        font-weight: 300;
        font-size: 18px;
    }

    .menu a:hover {
        font-weight: 300;
    }

    .menu a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        border-bottom: 3px solid transparent;
        transition: all 300ms ease-in-out;
    }

    .menu a:hover::after {
        left: 0;
        width: 100%;
        border-bottom: 3px solid #B1E63C;
    }

    .title-header {
        max-width: 600px;
        padding-left: 190px;
        text-align: left;
        font-size: 60px;
        width: 900px;
        max-width: 900px;
    }

    .box-t-header {
        width: 100%;
        max-width: 100%;
        text-align: right;
    }

    .text-header {
        width: 500px;
        max-width: 500px;
        margin-right: 18%;
    }

    .title-device {
        font-size: 30px;
        position: relative;
        left: 60px;
    }

    .content-device, .list-device {
        position: relative;
        left: 60px;
    }

    .img-sec2 {
        max-width: 900px;
        height: 450px;
    }

    .box-image {
        display: block;
    }

    .image {
        position: relative;
        top: -30px;
    }

    .team {
        padding-left: 200px;
    }

    .author {
        padding-right: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .text-header {
        margin-right: 22%;
    }
}