
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header {
    background-image: url('../images/capa.png');
    background-size: cover;
    background-position: center center;
    height: 90vh;
    max-height: 500px;
}

.menu-mobile {
    float: right;
    margin: 10px 2%;
    font-weight: 300;
    cursor: pointer;
    background-image: url('../images/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
}

.menu {
    display: none;
    position: fixed;
    width: 50%;
    max-width: 200px;
    height: 100vh;
    padding: 10px 0 0 10px;
    opacity: 0.8;
    background-color: #ccc;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    line-height: 1.5;
}

.menu a:hover {
    font-weight: 900;
}

.clear {
    clear: both;
}

.title-header {
    font-weight: 300;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.text-header {
    font-size: 12px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 20px 10px 0 10px;
    line-height: 1.5;
}

.center {
    margin: 0 auto;
}

main {
    background-color: #810EAB;
    text-align: center;
    max-height: 380px;
}

.device {
    padding: 10px;
}

.display {
    display: none;
}

.image {
    background-image: url('../images/device.png');
    background-size: cover;
    background-position: center center;
    width: 500px;
    height: 400px;
    position: relative;
    top: -20px;
}

.title-device {
    text-align: center;
    font-size: 18px;
}

.content-device {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}

.list-device {
    display: block;
    width: fit-content;
}

.list-device li {
    list-style-type: none;
}

.list-device li::before {
    content: '* ';
}

.contact {
    background-color: #B1E63C;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.contact:hover {
    background-color: #D1EAB1;
}

@media screen and (min-width: 600px) {
    .title-header{
        font-size: 40px;
    }

    .text-header {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .title-header {
        font-size: 45px;
    }
}

@media screen and (min-width: 992px) {
    .menu-mobile {
        display: none;
    }

    .menu {
        position: relative;
        display: block;
        width: 100%;
        max-width: 100vw;
        height: auto;
        text-align: right;
        background-color: transparent;
    }

    .menu li {
        display: inline-block;
        margin: 0 15px;
        transition: all 300ms ease-in-out;
        border-bottom: 2px solid transparent;
    }

    .menu li:hover {
        border-bottom: 2px solid #B1E63C;
    }

    .menu a {
        color: white;
        font-weight: 300;
        font-size: 18px;
        margin: 0 15px;
    }

    .menu a:hover {
        font-weight: 300;
    }

    .title-header {
        max-width: 600px;
        padding-top: 50px;
        text-align: left;
    }

    .device {
        display: inline-block;
        position: relative;
        top: -160px;
        left: 35px;
        width: 300px;
    }

    .title-device {
        font-size: 30px;
        width: 470px;
        margin-left: -50px;
    }

    .display {
        display: inline-block;
    }
}